@import url('https://fonts.googleapis.com/css?family=Kanit:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

html {
    background-image: url("../images/background-01.png");
    background-size: cover;
    mix-blend-mode: normal;
}
html,
body,
#root {
    font-family: Kanit;
	height: 100%;
	margin: 0;
}

nav {
	max-height: 64px;
    width: calc(100% - 3px);
    height: 64px;
    margin-top: 3px;
    position: relative;
    top: 0;
    display: inline-flex;
}
nav > * {
    position: relative;
	flex: 1 1 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;

    margin-left: 3px;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
	
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    text-transform: uppercase;
	color: #FFFFFF;
    text-decoration: none;
}

h1 {
    margin: 0;
    font-family: Kanit;
    font-style: italic;
    font-weight: 800;
    line-height: 30px;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
    text-shadow:  rgb(0, 0, 0) 4px 0px 0px, 
        rgb(0, 0, 0) 3.87565px 0.989616px 0px, 
        rgb(0, 0, 0) 3.51033px 1.9177px 0px, 
        rgb(0, 0, 0) 2.92676px 2.72656px 0px, 
        rgb(0, 0, 0) 2.16121px 3.36588px 0px,
        rgb(0, 0, 0) 1.26129px 3.79594px 0px, 
        rgb(0, 0, 0) 0.282949px 3.98998px 0px, 
        rgb(0, 0, 0) -0.712984px 3.93594px 0px, 
        rgb(0, 0, 0) -1.66459px 3.63719px 0px, 
        rgb(0, 0, 0) -2.51269px 3.11229px 0px, 
        rgb(0, 0, 0) -3.20457px 2.39389px 0px, 
        rgb(0, 0, 0) -3.69721px 1.52664px 0px, 
        rgb(0, 0, 0) -3.95997px 0.56448px 0px, 
        rgb(0, 0, 0) -3.97652px -0.432781px 0px, 
        rgb(0, 0, 0) -3.74583px -1.40313px 0px, 
        rgb(0, 0, 0) -3.28224px -2.28625px 0px, 
        rgb(0, 0, 0) -2.61457px -3.02721px 0px, 
        rgb(0, 0, 0) -1.78435px -3.57996px 0px, 
        rgb(0, 0, 0) -0.843183px -3.91012px 0px, 
        rgb(0, 0, 0) 0.150409px -3.99717px 0px, 
        rgb(0, 0, 0) 1.13465px -3.8357px 0px, 
        rgb(0, 0, 0) 2.04834px -3.43574px 0px, 
        rgb(0, 0, 0) 2.83468px -2.82216px 0px, 
        rgb(0, 0, 0) 3.44477px -2.03312px 0px, 
        rgb(0, 0, 0) 3.84068px -1.11766px 0px, 
        rgb(0, 0, 0) 3.9978px -0.132717px 0px;
}

input,
textarea,
.text-generic {
	display: flex;
	justify-content: center;
	align-items: center;

    min-height: 48px;
	width: 100%;

    font-family: Kanit;
    font-style: italic;
    font-weight: normal;
    line-height: 18px;
    font-size: 15px;
    padding: 10px;
    
    color: #FFFFFF;

    background: rgba(0, 0, 0, 0.1);
    mix-blend-mode: normal;
    border: 1px solid rgba(255, 255, 255, 0.4);
    transition: 350ms;
    box-sizing: border-box;
}
textarea {
    min-height: 64px;
}
input::placeholder,
textarea::placeholder {
    opacity: 0.3;

    color: #FFFFFF;
}
input:focus,
textarea:focus,
input:active,
textarea:active {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.7);
    background: rgba(0, 0, 0, 0.25);
}

.ht-input-group,
.ht-input-group > *:not(:first-child) {
    margin-top: 4px;
}

.card {
    margin: 0 auto;
	width: calc(100% - 48px);
	height: calc(100vh);
}
/* .card-header,
.card-content,
.card-footer {
} */
.segment {
	margin-top: 3px;
}

.bevel-bottom,
.bevel-top {
    display: block;
	margin: 0 auto;
	
    width: 250px;
    height: 10px;
}

.panel {
	position: relative;
	display: table;
	width: 100%;
	padding: 3px;
	min-height: 85px;

    border: 1px solid rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
}
.panel-inner {
	display: table-cell;
	height: 100%;
	width: 100%;
	
    background: rgba(255, 255, 255, 0.2);
	mix-blend-mode: normal;
}
.panel-inner > * {
	position: absolute;
	top: calc(50% - 18px);
	width: 100%;
	text-align: center;
}

.panel-map {
    height: 225px;
    max-height: 225px;
}
.panel-map > img {
    width: 100%;
    height: 100%;
}

.card-title {
    position: relative;
    margin-top: 20px;
}
.card-title > h1 {
    position: relative;
    z-index: 2;
    margin-bottom: 10px
}


.icon-activity {
    position: relative;
    z-index: 0;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
}

.button-link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.broadcast {
    max-height: 64px;
    width: calc(100% - 6px);
    height: 64px;
    margin: 3px;

    position: fixed;
    bottom: 0;
    display: inline-flex;
}

.broadcast-btnBroadcastGame {
    width: 100%;
    height: 100%;
    background: rgba(86, 204, 242, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
}
.broadcast-btnBroadcastGame > * {
    display: inline-block;
 
    font-family: Kanit;
    font-style: italic;
    font-weight: bold;
    line-height: normal;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    
    color: #FFFFFF;
}


.broadcast > button {
    width: 20%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-left: 3px;

    font-family: Kanit;
    font-style: italic;
    line-height: normal;
    text-align: center;
    background: rgba(86, 204, 242, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;    
    overflow: hidden;
}
.broadcast > button:first-child {
    width: 40%;
    margin-left: 0;

    background: rgba(0, 0, 0, 0.1);
    mix-blend-mode: normal;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-sizing: border-box;    
}
.broadcast > button:last-child {
    background: rgba(231, 66, 50, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
}

.broadcast > button.broadcast-begin {
    width: 100%;
    background: rgba(86, 204, 242, 0.4) ;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;    
    overflow: hidden;
    
    font-family: Kanit;
    font-style: italic;
    font-weight: bold;
    line-height: normal;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
.broadcast > button.broadcast-begin > i {
    padding-right: 15px;
}
.broadcast > button.broadcast-begin > span {
    position: relative;
    top: -1px
}


.broadcast-value {
    position: absolute;
    top: 6px;

    font-weight: 200;
    font-size: 24px;

    color: #FFFFFF;
}
.broadcast-label {
    position: absolute;
	bottom: 0;
	left: 0px;
	width: 100%;

    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

.broadcast-remaining {
    position: absolute;
	top: -10px;
	left: 0px;
	width: 100%;
	text-align: center;

    font-size: 42px;
}



.metrics {
	width: 100%;
	position: relative;
	display: inline-flex;

	background: rgba(0, 0, 0, 0.5);
	background-image: url("../images/metric-background-01.png");
	box-shadow: inset 0px -0.5px 0px rgba(255, 255, 255, 0.1);
}
.metrics > .metric {
	flex: 1 1 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.metrics > .metric > .value {
	font-weight: 600;
	font-size: 24px;
	text-align: center;
	text-transform: uppercase;
	
	color: #FFFFFF;
	text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 1px 0px #000000;
}
.metrics > .metric > .label {
	font-weight: 500;
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;

	color: #FFFFFF;
	opacity: 0.5;
}

.tags {
    position: relative;
    display: inline-flex;
    width: 100%;;
	height: 48px;

	background: rgba(86, 204, 242, 0.4);
	border: 1px solid rgba(255, 255, 255, 0.3);
	box-sizing: border-box;
}
.tags > .tag {
	display: flex;
	flex: 1 0 auto;
	justify-content: center;
	flex-direction: column;
	line-height: 100%;

	text-align: center;
	font-weight: 600;
	font-size: 18px;
	text-transform: uppercase;

	border-left: 2px solid rgba(0, 0, 0, 0.1);
	color: #FFFFFF;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}
.tags > .tag:first-child {
	border-left: none;
}