html,
body {
	background-color: #ddd;
	height: 100%;
	margin: 0;
	overflow: hidden;
	touch-action: none;
}

.ht-container {
	position: absolute;
	width: 10000px;
	height: 10000px;
}

.ht-card {
	position: absolute;
	border-radius: 5px;
	background-color: #999;
}