[stax] {
	font-family: Roboto;
	font-weight: 300;
	color: #777;
}

[stax~=container] {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(pattern-noise.png), linear-gradient(180deg, #FFFFFF 0%, #EAEDF2 100%);
	
	font-family: Roboto;
	font-weight: 300;
	color: #777;
	text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.07);
}

[stax~=card] {
	margin: 5px;
	width: calc(100% - 10px);
	height: calc(100% - 10px);
}

[stax~=segment] {
	margin-bottom: 5px;
}
[stax~=segment][stax~=segment-synopsis] {
	border-radius: 4px;
	border: 1px solid #ddd;
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.15);
}

/*	ELEMENTS	*/
[stax~=element] {
	margin: 2px;
	padding: 4px;
}

/*	MAP	*/
*[stax~=pane][stax~=map] {
	height: 35%;
	position: relative;
}

/*	BANNER	*/
*[stax~=emblem][stax~=titleBanner-text],
*[stax~=titleBanner-text] {
	grid-row: 1 / 7;
	grid-column: 1 / 7;

	display: flex;
	flex-wrap: wrap;
	text-align: center;
	background: none;
}
*[stax~=--small] *[stax~=sport-title] {
	font-size: 16pt;
}
*[stax~=--small] *[stax~=sport-description] {
	font-size: 11pt;
}
*[stax~=sport-title] {
	width: 100%;
	font-family: Graduate;
	font-size: 20pt;
	margin-bottom: 2px;
	font-weight: 500;
    letter-spacing: 1px;
	color: rgba(150, 9, 9, 0.78);
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
}
*[stax~=sport-description] {
	width: 100%;
	font-size: 12pt;
	letter-spacing: 1px;
	color: #777;
	padding: 3px 0;
}

/*	TAGS	*/
[stax~=tag] {
	margin: 5px 5px 0px 0px;
	padding: 5px;
	text-align: center;
	color: #456FA8;
	border: 1px solid #456FA8;
	border-radius: 4px;
	box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.2);
    letter-spacing: 1px;
}

/*	PANE	*/
[stax~=pane] {
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
}

/*	EMBLEM	*/
[stax~=emblem] {
	padding: 6px;
	/* background-color: rgba(255, 255, 255, 0.9); */
	background-color: rgba(29, 95, 162, 0.90);
	color: rgba(255, 255, 255, 1.0);
	
	display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
	width: 100%;
	justify-items: center;
	align-items: center;
	
	-webkit-touch-callout: none;
    -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/*	METRIC	*/
*[stax~=value] {
	font-family: Graduate;
	font-size: 26pt;
    letter-spacing: 2px;
}
[stax~=emblem][stax~=metric] > span[stax~=value] {
	grid-row: 1 / 5;
	grid-column: 2 / 6;
	color: rgba(255, 255, 255, 1.0);
	text-shadow: 4px 4px 1px rgba(29, 95, 162, 1.0);
}
i[stax~=icon] {
	font-size: 11pt;
	color: rgba(255, 255, 255, 0.6);
	text-shadow: 2px 2px 1px rgba(29, 95, 162, 1.0);
}
[stax~=emblem][stax~=metric] > i[stax~=icon] {
	grid-row: 5 / 7;
	grid-column: 2 / 4;
}
span[stax~=unit] {
	font-size: 11pt;
	color: rgba(255, 255, 255, 0.6);
	text-shadow: 2px 2px 1px rgba(29, 95, 162, 1.0);
	letter-spacing: 1px;
	text-transform: uppercase;
}
[stax~=emblem][stax~=metric] > span[stax~=unit] {
	grid-row: 5 / 7;
	grid-column: 4 / 6;
}

/*	SPORT ICON	*/
*[stax~=icon-user],
*[stax~=icon-sport] {
	width: 54px;
	height: 54px;
	max-width: 54px;
	max-height: 54px;
	border-radius: 100px;
	overflow: hidden;
	border: 1px solid #fff;
    border-radius: 100px;
	padding: 6px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}
[stax~=emblem][stax~=sportIcon] > span[stax~=value] {
	grid-row: 1 / 7;
	grid-column: 1 / 7;

	font-size: 0pt;
	color: rgba(255, 255, 255, 1.0);
}
[stax~=emblem][stax~=sportIcon] > span[stax~=unit] {
	grid-row: 5 / 7;
	grid-column: 3 / 5;
	
	color: rgba(255, 255, 255, 1.0);
}

[stax~=emblem][stax~=userIcon] {
	display: flex;
	padding: 5px;
	width: auto;
}

*[stax~=icon-user] {
	width: 64px;
	height: 64px;
	max-width: 64px;
	max-height: 64px;
}
[stax~=emblem][stax~=userBadge] {
	overflow: hidden;
}
[stax~=emblem][stax~=userBadge] > span[stax~=unit] {
	grid-row: 1 / 2;
	grid-column: 1 / 7;
	color: rgba(255, 255, 255, 1.0);
	font-weight: 400;
}
[stax~=emblem][stax~=userBadge] > span[stax~=value] {
	grid-row: 2 / 6;
	grid-column: 2 / 6;
	margin: 4px 0 8px 0;
	display:flex;
	text-align: center;
	align-items: center;
    justify-content: center; 
	color: rgba(255, 255, 255, 1.0);
}
[stax~=emblem][stax~=userBadge] span[stax~=online-status] {
	grid-row: 6 / 7;
	grid-column: 1 / 7;
	width: 125%;
	color: rgba(255, 255, 255, 0.95);
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);

	border-radius: 4px;
	font-weight: 400;
	text-align: center;
	display:flex;
	align-items: center;
    justify-content: center; 
}

span[stax~=online-status-online] {
	border: 1px solid rgba(41, 119, 54, 1.0);
	background-color: rgba(41, 119, 54, 0.65);
}
span[stax~=online-status-idle] {
	border: 1px solid rgba(216, 205, 86, 1.0);
	background-color: rgba(216, 205, 86, 0.65);
}

/*	RATING	*/
[stax~=emblem][stax~=rating] {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 100%;
	width: 100%;
}
[stax~=emblem][stax~=rating] > div {
	justify-content: center;
	align-items: center;

	grid-row: 1;
	grid-column: 3 / 6;
}
[stax~=emblem][stax~=rating] > span[stax~=rating-label] {
	flex-grow: 1;
	color: rgba(255, 255, 255, 1.0);

	align-self: center;
	padding-left: 5px;
	grid-row: 1;
	grid-column: 1 / 3;
    letter-spacing: 1px;
}
[stax~=emblem][stax~=rating] > span[stax~=rating-value] {
	align-self: center;
	text-align: center;
    letter-spacing: 1px;
	grid-row: 1;
	grid-column: 6 / 7;
	color: rgba(255, 255, 255, 1.0);
	font-weight: 500;
}
[stax~=emblem][stax~=rating] > div > i[stax~=icon-rating] {
	flex-grow: 1;
	text-align: center;
	color: rgba(255, 255, 255, 1.0);
}

/*	BUTTON	*/
[stax~=button] {
	padding: 6px;
}
[stax~=button] > span {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(6, 1fr);
}
[stax~=button] > span > i {
	justify-self: center;
	align-self: center;
	grid-row: 1 / 5;
	grid-column: 2 / 6;

	font-size: 20pt;
}
[stax~=button] > span > span {
	justify-self: center;
	align-self: center;
	grid-row: 5 / 7;
	grid-column: 1 / 7;

	padding: 0 3px;
	font-size: 10pt;
	letter-spacing: 3px;
}


[stax~=icon] {
	font-size: 14pt;
}